*, *::before, *::after {
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@200&display=swap')
    font-weight: normal;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #aed1e6, #c6dbf0);
    }
  
    .calculator-grid {
      display: grid;
      justify-content: center;
      align-content: center;
      min-height:70px;
      grid-template-columns: repeat(4, 80px);
      grid-template-rows: minmax(80px, auto) repeat(5, 80px);
      padding:20px;
      }
  
      .calculator-grid > button {
        cursor: pointer;
        font-size: 2rem;
        border: 1px, solid #FFFFFF;
        outline: none;     
      }
  
        .calculator-grid > button:hover {
          background-color:#ffb8d1;
        }
  
        .span-two {
          grid-column: span 2;
          
          
        }
  
        .output{
          grid-column: 1 / -1;
          background-color: rgba(0, 0, 0, 0.75);
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          flex-direction: column;
          word-wrap: break-word;
          word-break: break-all;
          padding:10px;
        }
  
        .output .previous-operand{
          color: rgba(255,255, 255, 0.75);
          font-size: 1.5rem;
        }
  
        .output .current-operand{
          color: white;
          font-size: 2.5rem;
        }

        .fa:hover {
            opacity: 0.9;
        }
  
        .fa-twitter {
            background: black;
            color: white;
        }
  
        
        .fa-github {
            background: #ff5700;
            color: white;
        }
  
        .fa {
            padding: 20px;
            font-size: 40px;
            width: 60px;
            text-decoration: none;
            margin: 5px 80px;
        }
  
        h1 {
            color: green;
        }
          a, img{
            display: inline;
            
          }
          
          img {
            width: 40px;
            
          }  